<mat-toolbar>
    <img src="assets/image/logo.png" width="160" height="58" />

    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm></button>
    <div fxShow="true" fxHide.lt-md>
        <button mat-button>Home</button>

        <button mat-button [matMenuTriggerFor]="androidMenu">Android</button>
        <mat-menu #androidMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="">Cellulari</button>
            <button mat-menu-item routerLink="">Laptop</button>
        </mat-menu>

        <button mat-button class="login" [matMenuTriggerFor]="accedi">
            <span class="material-icons">
                account_circle
            </span>
        </button>
        <mat-menu #accedi="matMenu" xPosition="after">
            <button mat-menu-item class="login" routerLink='/login'>Login</button>

            <ng-template #logged>
                <button mat-menu-item>Logout</button>
            </ng-template>
            <button mat-menu-item routerLink="/registration">Iscriviti</button>

        </mat-menu>
    </div>
    


    <div fxShow="true" fxHide.gt-sm="true">
        <a href="#" (click)="sidenav.toggle('sx')" mat-button ><span class="material-icons" id="menu_open">
                menu_open
            </span></a>
    </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="container" >
    <mat-sidenav #sidenav mode="side" fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <button (click)="sidenav.toggle()" mat-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>Home</button>

            <button mat-button [matMenuTriggerFor]="androidMenu">Android</button>
            <mat-menu #androidMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink="">Cellulari</button>
                <button mat-menu-item routerLink="">Laptop</button>
            </mat-menu>

            <button mat-button class="login" [matMenuTriggerFor]="accedi">
                <span class="material-icons">
                    account_circle
                </span>
            </button>
            <mat-menu #accedi="matMenu" xPosition="after">
                <button mat-menu-item class="login" routerLink="/login">Login</button>
                <ng-template #logged>
                    <button mat-menu-item>Logout</button>
                </ng-template>

                

                <button mat-menu-item routerLink="/registration">Iscriviti</button>

            </mat-menu>


        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>