<mat-toolbar>
    <img src="assets/image/logo.png" width="160" height="58" />

    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm></button>
    <div fxShow="true" fxHide.lt-md>
        <button routerLink='/home' mat-button>Home</button>

        <button mat-button [matMenuTriggerFor]="androidMenu">Android</button>
        <mat-menu #androidMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/list">Cellulari</button>
            <button mat-menu-item routerLink="/laptop">Laptop</button>
        </mat-menu>

        <button mat-button class="login" [matMenuTriggerFor]="accedi">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accedi="matMenu" xPosition="after">
            <button mat-menu-item class="login" routerLink='/account/login' *ngIf="!(isLogged$ | async); else logged">Login</button>
            <ng-template #logged>
                <button mat-menu-item (click)="accountService.logout()">Logout</button>
            </ng-template>
            <button mat-menu-item routerLink="/account/register">Sign In</button>
        </mat-menu>

        <button mat-button class="shopping" routerLink="/cart">
            <span class="material-icons">
                shopping_cart
                </span>
        </button>

    </div>
    <div fxShow="true" fxHide.gt-sm>
        <button mat-button href="#" (click)="sidenav.toggle()">
            <mat-icon id="menu_open">menu_open</mat-icon>                
        </button>              
    </div>
    
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">

            <button (click)="sidenav.toggle()" mat-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>Home</button>

            <button mat-button [matMenuTriggerFor]="androidMenu">Android</button>
            <mat-menu #androidMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink="">Cellulari</button>
                <button mat-menu-item routerLink="">Laptop</button>
            </mat-menu>

             <button mat-mat-button class="shopping" routerLink="/cart">
                <span class="material-icons">
                    shopping_cart
                    </span>
            </button>

            <button mat-button class="login" [matMenuTriggerFor]="accedi">
                <span class="material-icons">
                    account_circle
                </span>
            </button>
            <mat-menu #accedi="matMenu" xPosition="after">
                <button mat-menu-item class="login" routerLink="/account/login">Login</button>
                <ng-template #logged>
                    <button mat-menu-item>Logout</button>
                </ng-template>

                <button mat-menu-item routerLink="/account/register">Sign In</button>
            </mat-menu>

        </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>