<div id="login-container">
  <h1>Login</h1>
  <form class="login-form" [formGroup]="loginForm">

    <div fxLayout="column">

      <mat-form-field class="form-element">
        <mat-label>Username</mat-label>
        <input type="text" formControlName="username" name="username" placeholder="Username" required minlength matInput>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" name="password" placeholder="Password" required minlength matInput>
      </mat-form-field>

      <div *ngIf="invalidLogin" id="error">
        <span>Username or password are invalid</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="end end">
        <button (click)="login()" mat-raised-button color="primary" class="btn-login">Login</button>
        <button (click)="cancel()" mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="accent" class="btn-login">Iscriviti</button>
      </div>

    </div>
  </form>
</div>
