<div fxFlex class="home" >
    <div class="home-body">
      <h1 class="title">Benvenuti in Master Group!</h1>
    </div>
    <div class="icon" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25%" >
     <div>
        <mat-icon class="icon-size">local_shipping</mat-icon>
        <p><b>Consegna in 24h!</b></p>
     </div>
     <div>
        <mat-icon class="icon-size">euro_symbol</mat-icon>
        <p><b>Prezzi vantaggiosi</b></p>
     </div>
     <div>
        <mat-icon class="icon-size">https</mat-icon>
        <p><b>Pagamento sicuro</b></p>
     </div>
    </div>
    
    <div class="button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
        <div>
        <button mat-raised-button class="btn-s btn-sm" routerLink="">Scopri le offerte Smartphone</button>
        </div>
        <div>
        <button mat-raised-button class="btn-s btn-l" routerLink="">Scopri le offerte Laptop</button>
        </div>
    </div>
</div>